---
export type Props = {
  title: string
  href: string
  colors?: Array<string> | string | null
}

const { title, href, colors, ...rest } = Astro.props

let colorArr: Array<string>

if (!colors) {
  colorArr = ["#1C2A38", "#1C2A38"]
} else if (Array.isArray(colors)) {
  colorArr = colors.length >= 2 ? colors : [colors[0], colors[0]]
} else {
  colorArr = [colors, colors]
}

const gradient = `linear-gradient(to bottom right, ${colorArr.join(', ')})`
---

<div class="flex flex-col gap-2 items-center" {...rest}>
  <a href={`/${href}/`} class="inline-block w-full aspect-square">
    <span class="sr-only">{title}</span>
    <div class="w-full aspect-square rounded-2xl" style={`background: ${gradient}`} /></a>
  <a href={`/${href}/`} class="text-sm">{title}</a>
</div>


